@font-face {
    font-family: "lestudio";
    src: url(./font/bpg_le_studio_02_caps.ttf);
}
*
{
    font-family: "lestudio";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --primary-grey: #424343;
    --primary-white: white;
    --secondary-grey: #272727;
    --primary-gold: #A47E3B;
    --default-transition: 300ms;
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background: rgb(90, 90, 90);
}
::-webkit-scrollbar-thumb
{
    background: rgb(255, 255, 255);
}
body
{
    height: 100vh;
}
.main-section
{
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #444444 0%, rgb(43, 43, 43) 100%);
    height: 750px;
}
.navigation-container
{
    padding: 4px 0px 0px 0px;
    height: 100px;
    background-color: var(--primary-white);
    width: 100%;
}
.navigation
{
    width: 1440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.navigation-button
{
    background: none;
    border: none;
    font-size: 27px;
    color: var(--primary-grey);
    cursor: pointer;
    transition: var(--default-transition);
}
.navigation-button h4
{
    color: var(--primary-grey);
}
.navigation-button:hover
{
    text-decoration: underline;
    scale: 0.93;
}
.navigation-links
{
    height: 100%;
    padding-top: 2px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.navigation-splitter
{
    margin-bottom: 5px;
}
.navigation-logo-container
{
    transition: var(--default-transition);
    cursor: pointer;
    padding: 0px 56px 0px 56px;
}
.navigation-logo-container:hover
{
    scale: 1.05;
}
.main-info-container
{
    height: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    padding: 120px 0px 0px 0px;
}
.amoisuntke-logo
{
    width: 600px;
    pointer-events: none;
}
.main-image
{
    position: absolute;
    width: 800px;
    pointer-events: none;
    left: 645px;
    top: -73px;
}
.main-info-leftside
{
    display: flex;
    flex-direction: column;
    gap: 83px;
}
.main-description-span
{
    font-size: 36px;
    color: var(--primary-white);
    letter-spacing: 1.5px;
    opacity: 0.95;
}
.main-description-container
{
    width: 700px;
}
.main-product-button
{
    cursor: pointer;
    width: 281px;
    height: 70px;
    border-radius: 18px;
    border: none;
    background-color: var(--primary-white);
    display: flex;
    align-items: center;
    gap: 9px;
    justify-content: center;
    position: absolute;
    transition: var(--default-transition);
}
.main-product-button h5
{
    padding-top: 6.5px;
    letter-spacing: 1px;
    font-size: 27px;
    color: var(--primary-grey);
}
.main-product-button:hover
{
    opacity: 0.94;
    scale: 0.95;
}
.product-showcase-section
{
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, #3E3E3E 0%, #272727 100%)
}
.product-inner-container
{
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 66px;
}
.product-image
{
    transition: var(--default-transition);
    cursor: pointer;
    width: 400px;
}
.active
{
    width: 500px;
    border: 5px solid #b37c06;
    border-radius: 15px;
}
.brand-history-section
{
    padding: 50px 0px 0px 0px;
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #434242 0%, #282828 100%);
    height: 700px;
}
.brand-history-section h3
{
    padding-bottom: 8px;
}
.brand-history-inner-container
{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 66px;
    justify-content: center;
}
.product-image
{
    border-radius: 15px;
}
.brand-history-header
{
    font-size: 45px;
    color: var(--primary-white);

}
.brand-history-left-side
{
    display: flex;
    padding-top: 55px;
    flex-direction: column;
    gap: 33px;
}
.brand-history-title
{
    color: var(--primary-white);
    font-size: 33px;
}
.brand-history-content
{
    color: #BEBEBE;
    font-size: 23px;
}
.brand-history-right-side
{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 33px; 
}
.footer
{
    width: 100%;
    background: var(--primary-white);
    height: 350px;
    position: relative;
    padding: 85px 0px 0px 0px;
}
.footer-inner-container
{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.footer-logo
{
    width: 320px;
}
.footer-logo-container
{
    padding: 15px 22px 15px 22px;
    background: var(--primary-white);
    border-radius: 25px;
    position: absolute;
    top: -50px;
}
.footer-social
{
    width: 80px;
    transition: 300ms;
}
.contact-container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.social-links
{
    display: flex;
    gap: 35px;
}
.footer-social:hover
{
    scale: 1.1;
    opacity: 0.9;
}
.contact-container h3
{
   font-size: 32px;
   color: var(--primary-grey);
}